/* Body style */

* {
    font-family: "Lucida Console", Courier, monospace;
}

body {
    padding-top: 65px;
}

.section-title {
    padding: 1rem;
    text-shadow: 2px 2px 0 rgb(100, 100, 100);
}

.container,
.container-fluid {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.h-200px {
    height: 200px;
}

.w-200px {
    width: 200px;
}


/* Navigation */

.navbar {
    box-shadow: 0 2px 2px rgba(10, 10, 10, 0.15);
}

.nav-item {
    padding: 1rem;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-item:hover {
    background-color: #0e76a8;
    color: white;
}

.see-more {
    color: black;
}


/* cards style*/

.card {
    margin: 1rem;
    box-shadow: 0 4px 4px rgba(10, 10, 10, 0.15);
}

.card:hover {
    box-shadow: 0 16px 16px rgba(10, 10, 10, 0.75);
}


/* Custom style for each specific section */

#profil {
    font-weight: bolder;
    background-image: url("../images/Big-Data.png");
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: lighten;
}


/* Logo manager */

.logo:hover {
    color: rgb(180, 180, 180);
    /* color: rgb(119, 119, 119); */
}

.logo-linkedin {
    color: #0e76a8;
}

.logo-mail {
    color: rgb(180, 46, 46);
}

.logo-pdf {
    color: rgb(180, 46, 46);
}

.logo-github {
    color: #211F1F;
}


/* Carousel */

.carousel-indicators {
    bottom: -3rem;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #211F1F;
    /* background-color: #1f2021; */
}

.carousel-control-prev {
    left: -8rem;
}

.carousel-control-next {
    right: -8rem;
}


/* Other styles */

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.arrondie {
    -moz-border-radius: 5rem;
    -webkit-border-radius: 5rem;
    border-radius: 5rem;
}


/* fixed social bar */

#social-bar {
    position: fixed;
    top: 40px;
    box-shadow: 0 2px 2px rgba(10, 10, 10, 0.50);
    transition: top 0.3s;
}

#social-bar a {
    display: block;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}


/* Style the icon bar links */

.dot {
    height: 12px;
    width: 12px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.checked-dot {
    background-color: #e25e06;
}