.settingsContainer p {
    font-size: small;
    text-align: left;
}

.settingsContainer h3 {
    font-size: small;
    text-align: left;
    margin-top: 10px;
}

.settingsContainer h3:first-child {
    margin-top: 0px;
}


.arrowDown {
    display: inline-block;
    border-top: 10px solid #D9D9D9;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    margin-left: 70%;
}

.settingsDropdown {
    background-color: #D9D9D9;
    color: black;
    padding: 20px;
    border-radius: 20px;
}

.settingsButton {
    float: right;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    font-size: small;
    border: 1px solid white;
    border-radius: 30px;
}

.settingsButton:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}


.numberBtn {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    height: 40px;
    width: 40px;
    font-weight: bold;
    font-size: small;
    border-radius: 10px;
    margin: 0px 5px;
}

.numberBtn:hover {
    background-color: #FF2453;
    cursor: pointer;
}

.numberBtnSelected {
    background-color: #FF2453;
}