.container {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: bold;
}

.helper {
    margin-top: 20px;
}

.helpError {
    color: var(--color-error);
}

.selectContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}