    <!-- nav -->
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ .Site.BaseURL | absURL }}">All</a>
            <a class="navbar-item" href="{{ .Site.BaseURL | absURL }}/categories/work/">Work</a>
            <a class="navbar-item" href="{{ .Site.BaseURL | absURL }}/categories/travel/">Travel</a>
            <a class="navbar-item" href="{{ .Site.BaseURL | absURL }}/about">About</a>
        </div>
    </nav>
    <!-- /nav -->
