@font-face {
    font-display: optional;
    font-family: 'Inter';
    src: url('./assets/fonts/Inter/Inter-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    src: url('./assets/fonts/Inter/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    src: url('./assets/fonts/Inter/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    src: url('./assets/fonts/Inter/Inter-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
