@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Inria+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap';
@import "https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap";

@import "tailwindcss";
@import "tw-animate-css";
/* 
import @tailwindcss/forms 
import @tailwindcss/typography 
import @tailwindcss/aspect-ratio
*/

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake;
}

@custom-variant dark (&:is(.dark *));



@theme {
    --spacing: 0.25rem;

    --color-white: #F9F7F7;
    --color-white-t10: #F9F7F71a;
    --color-white-t25: #F9F7F740;
    --color-white-t50: #F9F7F780;
    --color-white-t75: #F9F7F7c0;

    --color-black: #070219;
    --color-black-t10: #0702191a;
    --color-black-t25: #07021940;
    --color-black-t50: #07021980;
    --color-black-t75: #070219c0;

    --color-black2: #332F2F;

    --color-red: #ff567b;
    --color-red-100: #fbcfd6;
    --color-red-t10: #ff567b1a;
    --color-red-t25: #ff567b40;
    --color-red-t50: #ff567b80;
    --color-red-t75: #ff567bc0;

    --color-yellow: #d7c32a;
    --color-yellow-t10: #d7c32a1a;
    --color-yellow-t25: #d7c32a40;
    --color-yellow-t50: #d7c32a80;
    --color-yellow-t75: #d7c32ac0;

    --color-blue: #20b2d6;
    --color-blue-100: #c3e6ed;
    --color-blue-t10: #20b2d61a;
    --color-blue-t25: #20b2d640;
    --color-blue-t50: #20b2d680;
    --color-blue-t75: #20b2d6c0;


    --color-purple: #9a56ff;
    --color-purple-100: #e2cff7;
    --color-purple-t10: #9a56ff1a;
    --color-purple-t25: #9a56ff40;
    --color-purple-t50: #9a56ff80;
    --color-purple-t75: #9a56ffc0;

    --color-green: #1ac37a;
    --color-green-100: #c2ead6;
    --color-green-t10: #1ac37a1a;
    --color-green-t25: #1ac37a40;
    --color-green-t50: #1ac37a80;
    --color-green-t75: #1ac37ac0;

    --color-primary: var(--color-green);
    --color-primary-t10: var(--color-green-t10);
    --color-primary-t25: var(--color-green-t25);
    --color-primary-t50: var(--color-green-t50);
    --color-primary-t75: var(--color-green-t75);

    --color-warning: #ff7d00;
    --color-success: var(--color-green);
    --color-error: var(--color-red);
    --color-info: var(--color-blue);
    --color-bg: var(--color-white);
    --color-text: var(--color-black2);

    --color-gradient-black: linear-gradient(-40deg, var(--color-black), var(--color-white));
    --color-gradient-white: linear-gradient(-40deg, var(--color-white), var(--color-black));
    --color-gradient-blue: linear-gradient(-40deg, var(--color-green), var(--color-blue));
    --color-gradient-green: linear-gradient(-40deg, var(--color-yellow), var(--color-green));
    --color-gradient-purple: linear-gradient(-40deg, var(--color-blue), var(--color-purple));
    --color-gradient-red: linear-gradient(-40deg, var(--color-yellow), var(--color-red));
    --color-gradient-pink: linear-gradient(-40deg, var(--color-purple), var(--color-red));
    --color-gradient-mixed: linear-gradient(-40deg, var(--color-red), var(--color-yellow), var(--color-green), var(--color-blue), var(--color-purple));


    --font-sans: 'Inria Sans', 'Inter', system-ui, Helvetica, sans-serif;
    --font-inter: 'Inter', 'Inria Sans', system-ui, Helvetica, sans-serif;
    --font-serif: 'EB Garamond', serif;
    --font-mono: "Space Mono", monospace;

    --text-h1: var(--text-6xl);
    --text-h2: var(--text-3xl);
    --text-h3: var(--text-base);
    --text-h4: var(--text-base);
    --text-h5: var(--text-base);
    --text-p: var(--text-lg);
    --text-a: var(--text-lg);
    --text-li: var(--text-lg);
    --text-input: var(--text-lg);
    --text-submit: var(--text-lg);
    --text-checkbox: var(--text-lg);
    --text-label: var(--text-lg);
    --text-placeholder: var(--text-lg);
    --text-button: var(--text-lg);
    --text-i: var(--text-3xl);
    --text-u: var(--text-lg);
    --text-td: var(--text-lg);
    --text-th: var(--text-lg);
    --text-textarea-placeholder: var(--text-lg);
    --text-textarea: var(--text-lg);
    --text-select: var(--text-lg);

    --breakpoint-xs: 32rem;
    --breakpoint-3xl: 120rem;
}


:root {
    --spacing-xs: 4px;
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 40px;

    --border-xs: 6px;
    --border-s: 10px;
    --border-m: 14px;
    --border-l: 20px;
    --border-xl: 40px;
    --border-xxl: 64px;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    scrollbar-color: var(--color-text) #00000000;

}


body {
    display: flex;
    height: 100dvh;
    width: 100vw;
    max-width: 100vw;
    background-color: var(--color-bg);
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-sans);
    color: var(--color-text);
    /* padding: 2rem;
    padding-top: 4rem; */
    overflow-x: hidden;
}


/**
 * Can be used to style the gamepad. 
 * Avoiding the default browser selection behavior.
 */
.gamepad {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-highlight: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
}

/* button {
	all: unset;
} */

/* input {
	all: unset;
} */

h1 {
    @apply text-5xl font-black sm:text-7xl;
    line-height: 1.4;
    font-family: 'Inter', 'Inria Sans', system-ui, Helvetica, sans-serif;
}

h2 {
    @apply text-3xl font-black sm:text-5xl;
    font-family: 'Inter', 'Inria Sans', system-ui, Helvetica, sans-serif;
}

h3 {
    @apply font-light;
}

h4 {
    @apply font-light;
}

h5 {
    @apply text-h5 font-light;
}

p {
    @apply text-p;
}

a {
    @apply text-a;
    text-decoration: none;
}

li {
    @apply text-li;
}

i {
    @apply text-i;
}

u {
    @apply text-u;
}

td {
    @apply text-td;
}

th {
    @apply text-th;
}

textarea::placeholder {
    @apply text-textarea-placeholder;
}

textarea {
    @apply text-textarea;
}

select {
    @apply text-select;
}

small {
    @apply text-sm;
}

blockquote h2 {
    @apply text-h2 font-light;
}


.bg-gradient-green {
    background: linear-gradient(var(--color-green-t25), var(--color-bg));
}

.text-gradient-green {
    background: var(--color-gradient-green);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.bg-gradient-green-rev {
    background: linear-gradient(var(--color-bg), var(--color-green-t25));
}


.bg-gradient-blue {
    background: linear-gradient(var(--color-blue-t25), var(--color-bg));
}

.bg-gradient-blue-rev {
    background: linear-gradient(var(--color-bg), var(--color-blue-t25));
}

.text-gradient-blue {
    background: var(--color-gradient-blue);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.bg-gradient-black {
    background: linear-gradient(var(--color-bg), var(--color-black));
}


.bg-gradient-white {
    background: linear-gradient(var(--color-black), var(--color-bg));
}

.text-gradient-black {
    background: var(--color-gradient-black);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.bg-gradient-purple {
    background: linear-gradient(var(--color-purple-t25), var(--color-bg));
}

.text-gradient-purple {
    background: var(--color-gradient-purple);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.bg-gradient-purple-rev {
    background: linear-gradient(var(--color-bg), var(--color-purple-t25));
}


.bg-gradient-red {
    background: linear-gradient(var(--color-red-t25), var(--color-bg));
}

.text-gradient-red {
    background: var(--color-gradient-red);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.bg-gradient-red-rev {
    background: linear-gradient(var(--color-bg), var(--color-red-t25));
}



.bg-gradient-pink {
    background: linear-gradient(var(--color-purple-t25), var(--color-white));
}

.text-gradient-pink {
    background: var(--color-gradient-pink);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.bg-gradient-pink-rev {
    background: linear-gradient(var(--color-bg), var(--color-pink-t25));
}